.undo-overlay {
  background-color: rgba(225,225,225,.6);
  /*display: none;*/
  width: 0px;
  height: 47px;
  text-align: center;
  padding-top: 14px;
  position: absolute;
  margin-top: -37px;
  margin-left: -1022px;
  z-index: 999;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
}

.undo-overlay a {
  display: none;
}

.show-overlay {
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;  
  width: 1093px;
  height: 47px;

  /*display: block;*/
}

.tt-input,
.tt-hint {

}

.tt-input {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 5px;
  padding: 3px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor { 
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}