<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >

  <title>Simple Ledger</title>
</head>

<body>
  <nav id="page-header" class="navbar navbar-default navbar-fixed-top" style="line-height: 5em; box-shadow: 1px 5px 7px rgba(0,0,0,0.25);">
    <div class="container">

      <div class="row">  
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">  
          <h4 class="text-left">{{> loginButtons}}</h4>
        </div>
        {{#if currentUser}}
        
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">          
          <button type="button" class="btn btn-primary previous">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{prevMonth}}
          </button>
        </div>  

        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-6"><h3 class="text-center">{{month}}</h3></div>

        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 text-right">
          <button type="button" class="btn btn-primary next">{{nextMonth}}
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <div class="col-lg-2 col-md-offset-1 col-md-2 col-sm-6 col-xs-6 "><h5>Bank Total: {{bankTotal}}</h5></div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 "><h5>User's Total: {{predictedTotal}}</h5></div>
        {{/if}}
      </div>

      {{#if currentUser}}

      <div class="row">  
        <div class="col-md-12">
          <div class="datepicker-container-5s"></div>
          <table id="ledger-table-header" style="line-height: 1em;">
            <thead>
              <tr>
                <th>Vendor</th>
                {{#if notPhone}}
                <th>Category</th>
                {{/if}}
                <th>Amount</th>
                {{#if notPhone}}
                <th>Date</th>
                {{/if}}

                <th style="width:10%;"></th>
                <th style="width:10%;">
                  <button id='addTransaction' class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                  </button>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      {{else}}
        Please login to continue
      {{/if}}

    </div>

  </nav>


  <div class="container-fluid">
      {{#if currentUser}}
      {{> ledger}}
      {{/if}}
  </div>

  {{invokeDatepickerAfterLoad}}

</body>

<template name="ledger">
  {{> reactiveTable collection=transactions settings=tableSettings}}
</template>

<template name="vendor">
  <input type="text" class="form-control typeahead" name="vendor" 
    placeholder="Vendor" autocomplete="off" spellcheck="off"
    value="{{vendor}}" data-trans-id="{{_id}}" data-field="vendor"
    data-source="vendors">
</template>

<template name="category">
  <input type="text" class="form-control typeahead" name="category" 
    placeholder="Category" autocomplete="off" spellcheck="off" 
    value="{{category}}" data-trans-id="{{_id}}" data-field="category"
    data-source="categories">
</template>

<template name="amount">
  <input type="text" class="trans-form form-control" placeholder="$0.00" value="{{formattedAmount}}" data-trans-id="{{_id}}" data-field="amount">
</template>

<template name="date"> 
  <input type="text" readonly class="trans-form form-control datepicker" placeholder="{{date}}" value="{{date}}" data-trans-id="{{_id}}" data-field="date">
</template>

<template name="crd">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default btn-sm trans-form {{#if cleared}}active{{/if}}" data-trans-id="{{_id}}" data-field="cleared">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <!-- <button type="button" class="btn btn-default  trans-form {{#if recurring}}active{{/if}}" data-trans-id="{{_id}}" data-field="recurring">R</button> -->
<!--     <button type="button" class="btn btn-default trans-form {{#if deposit}}active{{/if}}" data-trans-id="{{_id}}" data-field="deposit">
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
    </button> -->
  </div>
</template>

<template name='deleteRow'>
  <button type="button" class="btn btn-danger btn-sm delete" data-trans-id="{{_id}}">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
  <div class="undo-overlay">
    <div class='btn btn-sm btn-primary undo' data-trans-id="{{_id}}">
      <div class="undo-timer-wrapper">
        <div class="undo-timer"></div>
      </div>
      Undo
    </div>
  </div>
</template>
