<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simple Ledger</title>
</head>

<body style="margin: 10px;">
  <nav class="navbar navbar-default navbar-fixed-top" style="padding-top: 5px; border-bottom-width: 0px;">
    <div class="container">
      <h4 style="float:left; clear: right;">{{> loginButtons}}</h4>

      {{#if currentUser}}
      <div class="row">          
        <div class="col-md-1">          
          <button type="button" class="btn btn-primary previous">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{prevMonth}}
          </button>
        </div>  

        <div class="col-md-2"><h3 style="margin-top: 10px;">{{month}}</h3></div>

        <div class="col-md-1">
          <button type="button" class="btn btn-primary next">{{nextMonth}}
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>

        <div class="col-md-2"><h5>Bank Total: {{bankTotal}}</h5></div>
        <div class="col-md-2"><h5>User's Total: {{predictedTotal}}</h5></div>

        <div class="col-md-2">
          <button id='addTransaction' class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
          </button>
        </div>
      </div>

      <div class="row">  
        <div class="col-md-12">
      
          <table id="ledger-table-header">
            <thead>
              <tr>
                <th>Vendor</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    {{/if}}
    </div>

  </nav>


  <div class="container-fluid" style="margin-top: 120px;">


   <!--  <div class="page-header" style="width: 100%; background-color: #5b4282; color: white; margin: 0 -25px; position:fixed; top: 0;">

    </div> -->
    <!-- <div style: 'margin-top: 45px;'> -->
      {{#if currentUser}}

      {{> ledger}}
      {{/if}}
    <!-- </div> -->
  </div>
</body>

<template name="ledger">
  {{> reactiveTable collection=transactions settings=tableSettings}}
</template>

<template name="vendor">
  <input type="text" class="form-control typeahead" name="vendor" 
    placeholder="Vendor" autocomplete="off" spellcheck="off"
    value="{{vendor}}" data-trans-id="{{_id}}" data-field="vendor"
    data-source="vendors">
</template>

<template name="category">
  <input type="text" class="form-control typeahead" name="category" 
    placeholder="Category" autocomplete="off" spellcheck="off" 
    value="{{category}}" data-trans-id="{{_id}}" data-field="category"
    data-source="categories">
</template>

<template name="amount">
  <input type="text" class="trans-form form-control" placeholder="$0.00" value="{{formattedAmount}}" data-trans-id="{{_id}}" data-field="amount">
</template>

<template name="date"> 
  <input type="text" class="trans-form form-control datepicker" placeholder="{{date}}" value="{{date}}" data-trans-id="{{_id}}" data-field="date">
</template>

<template name="crd">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default  trans-form {{#if cleared}}active{{/if}}" data-trans-id="{{_id}}" data-field="cleared">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <!-- <button type="button" class="btn btn-default  trans-form {{#if recurring}}active{{/if}}" data-trans-id="{{_id}}" data-field="recurring">R</button> -->
    <button type="button" class="btn btn-default trans-form {{#if deposit}}active{{/if}}" data-trans-id="{{_id}}" data-field="deposit">
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
    </button>
  </div>
</template>

<template name='deleteRow'>
  <button type="button" class="btn btn-danger  delete" data-trans-id="{{_id}}">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
  <div class="undo-overlay">
    <div class='btn btn-sm btn-primary undo' data-trans-id="{{_id}}">
      <div class="undo-timer-wrapper">
        <div class="undo-timer"></div>
      </div>
      Undo
    </div>
  </div>
</template>
