@import '../lib/custom.bootstrap.less';

.headroom {
    -webkit-transition: transform 200ms linear;
    -moz-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);

}
.headroom--unpinned {
    -webkit-transform: translateY(-72%);
    -moz-transform: translateY(-72%);
    -ms-transform: translateY(-72%);
    -o-transform: translateY(-72%);
    transform: translateY(-72%);

}

#search {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  min-width: 80px;
}

button {
  outline: none !important;
}

.table > thead > tr > td.danger, 
.table > tbody > tr > td.danger, 
.table > tfoot > tr > td.danger, 
.table > thead > tr > th.danger, 
.table > tbody > tr > th.danger, 
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td, 
.table > tbody > tr.danger > td, 
.table > tfoot > tr.danger > td, 
.table > thead > tr.danger > th, 
.table > tbody > tr.danger > th, 
.table > tfoot > tr.danger > th {
  background-color: rgba(217,83,79,.7);
  // background-color: inherit; //rgba(217,83,79,.7);
  // input {
  //   color: rgb(217,83,79) !important;
  // }
}

.table > thead > tr > td.success, 
.table > tbody > tr > td.success, 
.table > tfoot > tr > td.success, 
.table > thead > tr > th.success, 
.table > tbody > tr > th.success, 
.table > tfoot > tr > th.success,
.table > thead > tr.success > td, 
.table > tbody > tr.success > td, 
.table > tfoot > tr.success > td, 
.table > thead > tr.success > th, 
.table > tbody > tr.success > th, 
.table > tfoot > tr.success > th {
  background-color: rgba(92,184,92,.7);
  // background-color: inherit;
  // input {
  //   color: rgb(92,184,92) !important;
  // }
}

.undo-overlay {
  // background-color: rgba(217,83,79,.7);
  background-color: rgba(73,93,108,.7);

  width: 0px;
  height: 39px;
  text-align: center;
  padding-top: 7px;
  position: absolute;
  margin-top: -35px;
  z-index: 998;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  left: 15px;
}

.undo-overlay .undo {
  -webkit-transition: width 0s; /* Safari */
  transition: width 0s;  
  width: 57px;
  float: right;
  margin: -3px 10px;
  display: none;
}

.show-overlay {
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;  
  height: 39px;
  right: 25px;
}

.undo-timer-wrapper {
  position: relative;
  width: 100%;
  height: 0px;
  left: -11px;
  top: 20px;
    transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
}

.undo-timer {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -webkit-transition: width 6s; /* Safari */
  transition: width 6s;  
  position: absolute;
  width: 0px;
  height: 31px;
  top: -26px;
  border-radius: 0;
  // background-color: #d43f3a;
    background-color: rgba(73,93,108,.7);


}

.undo-timer-end {
    transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  width: 57px;
}

.tt-input,
.tt-hint {

}

.tt-input {
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  // &:active {
  //     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  //     // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  //       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  //   }
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 5px;
  padding: 3px 0;
  background-color: #df691a;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor { 
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#ledger-table-header {
  width: 100%;

  tr {
    height: 40px;

    th {
      padding: .75em 0 .25em 0;
      border-bottom-width: 0px;
    }
  }
}

div.datepicker {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, .5);
  z-index: 9999 !important;

  table tr td.active,
  table tr td span.active {
    background-color: @brand-success !important;
  }

  table tr td.day,
  table tr td span.month,
  table tr td span.year,
  table th.datepicker-switch,
  table th.next,
  table th.prev,
  table th.clear {
    &.focused, &:hover {
      background-color: @brand-primary!important;
    }
  }
}

#ledger-table {
  thead {
    display: none;
  }

  .btn-default {
    color: #666;
  }

  .active {    
    background-color: #5cb85c;
    color: #fff;
    border-color: #4cae4c;
  }

  .recurring.active {
    background-color: #5C96B8;
    border-color: darken(#5C92B8, 10%);
  }

  input {
    background-color: transparent !important;
    color: white;
    // -webkit-appearance: none;
    cursor: pointer;
    box-shadow: none;
    
    &::selection {
      background-color: #f0ad4e;
    }

    &:active, &:focus, .active {
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
    }    
  }


  
}

@media (max-width: @screen-xs-max) {
  .container-fluid {
    margin-top: 210px;
  }

  div.datepicker {
    margin-top: 210px;
  }
}

@media (min-width: @screen-sm-min) {
  .container-fluid {
    margin-top: 200px;
  }

  div.datepicker {
    margin-top: 200px;
  }
}

@media (min-width: @screen-md-min) {
  .container-fluid {
    margin-top: 160px;
  }

  div.datepicker {
    margin-top: 160px;
  }
}

@media (min-width: @screen-lg-min) { 
  .container-fluid {
    margin-top: 115px;
  }

  div.datepicker {
    margin-top: 115px;
  }
}


